body{
    background-color: #15bdac ;
    text-align: center;

}

header{
    
    background-color: #f0efd4;
}

h1{
    font-family: Koulen;
    letter-spacing: 5px;
    color: #15bdac;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.326);
}


.stage{
    width: 500px;
    height: 500px;
    background-color: #f0efd4;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.326);
    margin: auto;
}

.square{
    width: 150px;
    height: 150px;
    background-color: #ebebd6;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
    margin-top: 10px;
    
}

.o{
    position: relative;
}

.o::after{
    position: absolute;
    content: "\3007";
    font-size: 75px;
    line-height: 150px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


}

.x{
    position: relative;
}

.x::after{
    position: absolute;
    content: "\1F5D9";
    font-size: 75px;
    line-height: 150px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


}